{
  "env": {
    "node": true
  },
  "rules": {
    "strict": "off",
    "curly": "off",
    "quotes": "off",
    "camelcase": "off",
    "no-comma-dangle": "off",
    "no-use-before-define": ["warn", "nofunc"],
    "no-unused-vars": [2, "all"],
    "no-mixed-requires": [1, true],
    "max-depth": [1, 5],
    "max-len": [1, 100, 4],
    "eqeqeq": "off",
    "no-path-concat": "off",
    "no-else-return": "warn",
    "no-eq-null": "warn",
    "no-lonely-if": "warn",
    "dot-notation": "off"
  }
}
